<VirtualHost *:80>
  ServerName www.ejemplo.com.uy
  ServerAdmin webmaster@ejemplo.com.uy
  DocumentRoot /var/www/ejemplo/html

  <Directory /var/www/ejemplo/html>
    Options Indexes FollowSymLinks
    AllowOverride none
    Require all granted
  </Directory>
</VirtualHost>
